body {
  position: absolute;
  top:    0;
  bottom: 0;
  left:   0;
  right:  0;
  cursor: default;
  z-index: -65536;
}

a:not(.fa):not(.glyphicon) {
  cursor: pointer;
}

.tool-name {
  display: block;
  font-size: 1.2em;
  padding: 15px 0;
  text-align: center;
  box-shadow: 0 0 20px -5px #000 inset;
}

.main-area {
  position: relative;
  overflow: hidden;
  z-index: -65536;
  height:   100%;
  margin:   0;
  cursor:   crosshair;
}

.layer {
  top:  0;
  left: 0;
}

.layer, .crosshair {
  position: absolute;
  pointer-events: none;
}

.side-area {
  position: relative;
  overflow-y: auto;
  width:  90px;
  height: 100%;
  float: left;

  box-shadow: -10px 0 20px -10px #000 inset;
  background: #222;
}

.layer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.layer-hidden .fa-toggle-on:before {
  content: "\f204";
}

.layer-menu-entry > a {
  padding: 10px 5px;
}

.layer-menu-control > a {
  padding: 15px;
}

.layer-menu-entry, .layer-menu-control {
  display: block;
  text-align: center;
}

.layer-menu-entry {
  background: white;
  opacity: 0.5;
  border-top: 1px solid #bbb;
}

.layer-menu-entry > * {
  display: inline-block;
  vertical-align: middle;
}

.layer-menu-entry > canvas {
  max-height: 90px;
  max-width:  90px;
  clear: both;
  border-bottom: 1px solid #bbb;
}

.layer-menu-entry.active {
  border-color: transparent;
  box-shadow: 10px 0 20px -5px #000;
  opacity: 1;
}

.canvas-selector-container {
  position: absolute;
  z-index: 65538;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;
}

.canvas-selector {
  background: #222;
  border-radius: 100px 0 0 100px;
  box-shadow: 0 0 20px -5px #000;
  position: absolute;
}

.canvas-selector-fixed .canvas-selector {
  margin-left: 90px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.canvas-selector, .canvas-selector > * {
  display: inline-block;
  vertical-align: top;
}

.canvas-selector > *:nth-child(2) {
  margin-left: 20px;
}

.canvas-selector-width {
  cursor: ns-resize;
  border-left:  1px solid #444;
  border-right: 1px solid #444;
}

.canvas-selector-color {
  cursor: crosshair;
}

.canvas-selector-tool {
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin:  0;
  color: #aaa;
}

.canvas-selector-tool > li > a {
  display: inline-block;
  padding: 5px 20px;
}

.canvas-selector-tool > li > a, .canvas-selector-tool > li > a:hover {
  text-decoration: none;
  color: inherit;
}

.canvas-selector-tool > li:hover {
  background: #333;
  color: #fff;
}

.canvas-selector-tool > li.active {
  background: #444;
  color: #eee;
}