body {
  position: absolute;
  top:    0;
  bottom: 0;
  left:   0;
  right:  0;
  cursor: default;
  z-index: -65536;
}

a:not(.fa):not(.glyphicon) {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  /* ??? */
}

::-webkit-scrollbar-thumb {
  background: #444;
}

.main-area {
  position: relative;
  overflow: hidden;
  z-index: -65536;
  height:   100%;
  margin:   0;
  cursor:   crosshair;
}

.background {
  background: white;
}

.layer {
  top:  0;
  left: 0;
}

.layer, .crosshair {
  position: absolute;
  pointer-events: none;
}

.side-area {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  width:  100px;
  height: 100%;
  float: right;

  box-shadow: 10px 0 20px -10px #000 inset;
  background: #222;
  color:      white;
}

.side-area > a, .tool-name {
  display: inline-block;
  width:   45px;
  height:  45px;
  padding: 10px;

  font-size:  20px;
  text-align: center;
  color:      inherit;
  cursor:     pointer;

  vertical-align: middle;
}

.tool-name {
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px -5px #000 inset;
}

.undo-btn:before        { content: "\f0e2"; font-family: FontAwesome; }
.redo-btn:before        { content: "\f01e"; font-family: FontAwesome; }
.export-button:before   { content: "\f0c7"; font-family: FontAwesome; }
.dynamics-button:before { content: "\f201"; font-family: FontAwesome; }

.layer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.layer-hidden .fa-toggle-on:before {
  content: "\f204";
}

.layer-menu-entry > a {
  padding: 10px 5px;
}

.layer-menu-control > a {
  padding: 15px;
  color: inherit;
}

.layer-menu-entry, .layer-menu-control {
  display: block;
  text-align: center;
}

.layer-menu-entry {
  opacity: 0.5;
  border-top: 1px solid #bbb;
  text-align: center;
}

.layer-menu-entry > * {
  display: inline-block;
  vertical-align: middle;
}

.layer-menu-entry > canvas {
  max-height: 90px;
  max-width:  90px;
  display: block;
  clear:  both;
  margin: auto;
  border-bottom: 1px solid #bbb;
}

.layer-menu-entry.active {
  border-color: transparent;
  opacity: 1;
}

.canvas-selector-container {
  position: absolute;
  z-index: 65538;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;
  overflow: hidden;
}

.canvas-selector-container > * {
  position: absolute;
  float:    left;

  white-space: nowrap;
  border-radius: 5px;

  background: #000;
  color:      white;
  box-shadow: 0 0 20px -5px #000;
}

.canvas-selector-container a {
  color: inherit;
}

.canvas-selector-fixed > * {
  left: auto !important;
  right: 100px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.canvas-selector {
  border-radius: 100px 0 0 100px;
}

.canvas-selector, .canvas-selector > * {
  vertical-align: top;
}

.canvas-selector > *:nth-child(2) {
  margin-left: 20px;
}

.canvas-selector-width {
  cursor: ns-resize;
  border-left:  1px solid #444;
  border-right: 1px solid #444;
}

.canvas-selector-color {
  cursor: crosshair;
}

.export-selector ul {
  list-style: none;
  padding:    10px;
  margin:     0;
}

.export-selector li {
  padding: 5px;
}

.export-selector li:not(.export-selector-header) {
  padding-left: 15px;
}

.export-selector a {
  text-decoration: underline;
}

.export-selector-header:before {
  font-weight: bold;
  content: "Export as:";
}

.canvas-selector-container .warning {
  background: #dd9900;
  display: block;
  float: none;
  clear: both;
  padding: 15px;
  white-space: normal;
  box-shadow: 0 0 20px -10px #000 inset;
}

.canvas-selector-container .warning:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 20px 20px -20px #000 inset;
}

.canvas-selector-fixed .warning:last-child {
  border-bottom-right-radius: 0;
}

.canvas-selector-container .warning .text-warning {
  color: white;
  font-weight: bold;
}

.dynamics-selector-item {
  float: left;
  padding: 10px;
  margin-right: 10px;
}

.dynamics-selector-item > * {
  display: block;
}

.dynamics-selector-item > *:not(.dynamics-selector-name) {
  margin-top:  5px;
  margin-left: 10px;
}

.dynamics-selector-item > select {
  color: black;
}

.dynamics-selector-name {
  font-weight: bold;
}

.dynamics-selector-comp-label:before {
  content: "is a";
}

.dynamics-selector-type-label:before {
  content: "of";
}

.dynamics-selector-a-label:before {
  content: "low:";
}

.dynamics-selector-k-label:before {
  content: "high:";
}

.dynamics-selector-comp-label,
.dynamics-selector-type-label,
.dynamics-selector-a-label,
.dynamics-selector-k-label {
  color: #777;
  text-align: right;
}

@media (max-width: 640px) {
  .dynamics-selector-item:first-child {
    display: none;
  }
}
