@font-face {
  /* Demo version + personal use means no copyright violation. Yay! */
  font-family: NellaSue;
  src: url("../3rdparty/fonts/NellaSue.ttf") format('truetype');
}

body {
  position: absolute;
  overflow: hidden;
  top:    0;
  bottom: 0;
  left:   0;
  right:  0;
  cursor: default;
  z-index: -65536;
  -ms-touch-action: none;
  background: gray;
}

body:not(.no-canvas) .no-canvas, body.no-canvas .canvas-only {
  display: none;
}

a:not(.fa):not(.glyphicon) {
  cursor: pointer;
}

input[type="range"] {
  width: auto;
}

select {
  color: black;
}

select.fa {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  color: white;
}

select.fa option {
  color: black;
}

select.fa:focus, select.fa:active {
  outline: none;
}

body .first-time {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: NellaSue;
  font-size: 28px;
  padding-right: 110px;
}

body .first-time .text-center {
  padding-top: 0.7em;
  font-size: 2em;
}

body .first-time small {
  font-size: 0.6em;
}

.main-area, .side-area, .cover {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.main-area {
  position: relative;
  overflow: auto;
  z-index:  -65568;
  height:   100%;
  margin:   0;
  padding:  0;
  /* Prevent scrollbars from appearing when the canvas
   * fits the area exactly. */
  font-size: 0;
}

.area {
  position: relative;
  z-index:  -65567;
  display:  inline-block;
  cursor:   crosshair;
}

.background {
  background: white;
}

.layer, .crosshair, .selection {
  position: absolute;
  pointer-events: none;
}

.layer.active {
  outline: 1px dashed yellow;
  outline-offset: -1px;
}

.crosshair {
  will-change: left, top;
}

.selection {
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
}

.side-area {
  position: relative;
  overflow: hidden;
  height: 100%;
  float: right;

  box-shadow: 10px 0 20px -10px #000 inset;
  background: #222;
  color:      white;
}

.side-area > .toolbar-row > * {
  width:   45px;
  height:  45px;
  padding: 6px;
  display: inline-block;

  font-size:  20px;
  text-align: center;
  color:      inherit;
  cursor:     pointer;
}

.side-area > .toolbar-row *, .side-area > .toolbar-row *:before {
  vertical-align: middle;
}

.action-tool {
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px -5px #000 inset;
}

.layer-menu {
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  width: 100px;
  height: calc(100% - 180px);
  margin: 0;
  padding: 0;
}

.layer-menu > li {
  opacity: 0.5;
  display: table;
  text-align: center;
  border: solid #bbb;
  border-width: 1px 0;
}

.layer-menu > .active {
  opacity: 1;
}

.layer-menu > .disabled {
  opacity: 0.3;
}

.layer-menu > li > canvas {
  max-height: 60px;
  max-width:  90px;
  display: inline-block;
}

.cover {
  position: absolute;
  z-index: 65538;
  top:    0;
  left:   0;
  right:  0;
  bottom: 0;
  overflow: hidden;
}

.cover a {
  color: inherit;
}

.cover.selector > * {
  position: absolute;
  /* Don't scale to window, don't break lines if displayed
   * with not enough space to the right.
   */

  color: white;
  background: #000;
  box-shadow: 0 0 20px -5px #000;
}

.cover.selector > .fixed {
  /* Must sync up with .side-area{width} */
  right: 100px;
  left: auto !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cover > .fixed .not-fixed-only,
.cover > :not(.fixed) .fixed-only {
  display: none;
}

.selector-main {
  border-radius: 100px 0 0 100px;
  white-space: nowrap;
  font-size: 0;
}

.selector-main:not(.fixed) {
  margin-left: -215px;
  margin-top: -100px;
}

.selector-main > * {
  vertical-align: top;
  display: inline-block;
}

.selector-main > .selector-width {
  border-left:  1px solid #444;
  border-right: 1px solid #444;
  text-align: center;
  box-sizing: content-box;
}

.selector-width, .selector-spacing, .selector-opacity {
  cursor: ns-resize;
}

.selector-color, .selector-palette {
  cursor: crosshair;
}

.selector-color {
  margin-right: 10px;
}

.selector-text {
  padding: 15px;
  border-radius: 5px;
}

.selector-text > :not(:last-child) {
  margin-bottom: 15px;
}

.selector-text .header {
  font-weight: bold;
}

.selector-text > .table:last-child {
  margin-bottom: 0;
}

.selector-text .table th, .selector-text .table td {
  border-color: #444;
}

.selector-text .warning {
  background: #dd9900;
  display: block;
  float: none;
  clear: both;
  margin: 0 -15px;
  padding: 15px;
  box-shadow: 0 0 20px -10px #000 inset;
}

.selector-text .warning:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 20px 20px -20px #000 inset;
  margin-bottom: -15px;
}

.selector-text .warning:last-child {
  border-bottom-right-radius: 0;
}

.selector-export ul {
  list-style: none;
  padding:    0 0 5px 10px;
  margin:     0;
}

.selector-export li {
  padding-bottom: 5px;
}

.selector-export a {
  text-decoration: underline;
}

.selector-dynamics .item {
  float: left;
}

.selector-dynamics .item:not(:last-child) {
}

.selector-dynamics .item > * {
  display: block;
}

.selector-dynamics .item > :not(.name) {
  margin: 5px 10px;
}

.selector-dynamics .name {
  font-weight: bold;
}
