body {
    background: #ddd;
    position: absolute;
    left:   0;
    top:    0;
    right:  0;
    bottom: 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
}

select {
    color: black;
}

#area-container {
    font-size: 0;
    text-align: center;
    overflow: hidden;
    height: 100%;
}

#area-container:before {
    content: '';
    height: 100%;
}

#area-container:before,
#area-background {
    vertical-align: middle;
    max-height: 100%;
    max-width:  100%;
    display: inline-block;
}

#area-background {
    background: url(img/checkers.png);
    overflow: auto;
    cursor: crosshair;
}

#area {
    isolation: isolate;  /* do not blend with the checkered background */
    position: relative;
    overflow: hidden;
}

#area > * {
    position: absolute;
    pointer-events: none;
}

#area > .active {
    border: 1px dashed red;
    box-sizing: content-box;
    margin-left: -1px;
    margin-top: -1px;
}

.side-area {
    background: black;
    font-size: 0;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 45px;
    color: white;
    float: left;
}

.side-area-right {
    float: right;
}

.toolbar-row > * {
    width: 45px;
    height: 45px;
    padding: 6px;
    display: inline-block;

    font-size: 20px;
    text-align: center;
    color: inherit;
    cursor: pointer;
}

.toolbar-row *,
.toolbar-row *:before {
    vertical-align: middle;
}

.layer-menu {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 135px);  /* - 3 x 45px buttons */
}

.layer-menu-item:not(.active) {
    opacity: 0.5;
}

.layer-menu-item > canvas {
    background: url(img/checkers.png);
    max-height: 45px;
    max-width:  100%;
}

.cover {
    position: absolute;
    overflow: hidden;
    z-index: 99;
    left:   0;
    top:    0;
    right:  0;
    bottom: 0;
}

.control {
    border-radius: 5px;
    box-shadow: 0 0 20px -5px #000;
    background: white;
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
}

.control.fixed-left {
    left: 45px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.control.fixed-right {
    right: 45px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.control-menu {
    border-radius: 100px 5px 5px 100px;
    margin-left: -205px;
    margin-top: -100px;
    background: #111;
    font-size: 0;
}

.control-color {
    border-radius: 0 100px 100px 0;
    background: #111;
    font-size: 0;
}

[data-control="SizeControl"]    { cursor: ns-resize; }
[data-control="ColorControl"]   { cursor: crosshair; }
[data-control="PaletteControl"] { cursor: crosshair; }
[data-control="ColorButtonControl"] { box-shadow: 0 0 15px -5px #000 inset; }

.control.table {
    width: auto;
}

.control.table td,
.control.table th {
    padding: 15px;
}
